{% extends 'base.html' %} {% load static i18n fa_calendar humanize shop_tools %}
{% block title %}{% trans 'cart' %}{% endblock %}
{% block extra_head %}
<link href="{% static 'theme1/style/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'theme1/style/owl.carousel.css' %}" rel="stylesheet" />
<link href="{% static 'theme1/style/owl.theme.default.min.css' %}" rel="stylesheet" />
<link href="{% static 'theme1/style/cart.css' %}" rel="stylesheet" />
<style>
    a :hover{
      text-decoration: none !important;
   }
   #toast-container > .toast-success {
      background-color: #198754;
   }
   #toast-container > .toast-error {
      background-color: #ff0f0f;
   }
   #toast-container > .toast-info {
      background-color: #0000ff;
   }
</style>
{% endblock %}
{% block content %}
{% if not cart_items %}
<main class="cart default">
    <div class="container text-center">
        <div class="cart-empty">
            <div class="cart-empty-icon">
                <i style="font-size: 5rem; color: gray;" class="fa fa-shopping-basket"></i>
            </div>
            <div class="cart-empty-title">{% trans 'cart is empty' %}</div>
            <div class="parent-btn">
                {% if not request.user.is_authenticated %}
                <a href="/login/" class="dk-btn dk-btn-success">
                    {% trans 'login to your account' %}
                    <i class="fa fa-sign-in"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% else %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="cart-page-content col-12 order-1">
                <div class="cart-page-title">
                    <h1>{% trans 'cart' %}</h1>
                </div>
                <div class="table-responsive checkout-content default">
                    <table class="table" style="margin-bottom: 0px;">
                        <tbody>
                            {% for item in cart_items %}
                            <tr class="checkout-item" style="border-bottom: 1px solid #eaeaea;">
                                <td>
                                    {% if item.product.image %}
                                    <img style="max-height: 60px;" src="{{item.product.image.url}}" alt="">
                                    {% else %}
                                    <img style="max-height: 60px;" src="{% static 'theme1/img/default.png' %}" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    <h3 class="checkout-title">
                                        {{item.product}}{% if item.monetary_option %} - {{item.monetary_option}}{% endif %}
                                    </h3>
                                </td>
                                <td style="width: 40px; align-items: center;"><button class="checkout-btn-plus" data-href="{% url 'cart_item_plus' item.id %}" style="background-color: #dcffff; color: black;"></button></td>
                                <td style="width: 40px; text-align: center;">{{item.count|intcomma:False|to_persian_number}}</td>
                                <td style="width: 40px; align-items: center;"><button class="checkout-btn-minus" data-href="{% url 'cart_item_minus' item.id %}" style="background-color: #ffdcdc; color: black;"></button></td>
                                <td style="max-width: 150px;">
                                    {% trans 'one item price' %}: {{item.price|intcomma:False|to_persian_number}} {% get_currency %}
                                </td>
                                <td style="max-width: 150px;">
                                    {% widthratio item.price 1 item.count as ratio %}
                                    {% trans 'total items price' %}: {{ratio|intcomma:False|to_persian_number}} {% get_currency %}</td>
                                <td style="width: 50px;"><button class="checkout-btn-remove" data-href="{% url 'delete_cart_item' item.id %}" style="background-color: #ffdcdc; color: black;"></button></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="8">
                                    <div style="text-align: left; margin-left: 60px;">
                                        {% trans 'sum' %}: {% cart_total_price cart_id %} {% get_currency %}
                                    </div>
                                </td>
                            </tr>
                            {% if discount_price %}
                            <tr>
                                <td colspan="8">
                                    <div style="text-align: left; margin-left: 60px;">
                                        {% trans 'discount' %}:<span style="color: #e30000;"> {{discount_price|intcomma:False|to_persian_number}}-</span> {% get_currency %}
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td colspan="8">
                                    <div style="text-align: left; margin-left: 60px;">
                                        {% trans 'value added tax' %}: {{tax|intcomma:False|to_persian_number}} {% get_currency %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 order-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button id="apply_discount_code" class="btn btn-outline-secondary" type="button">{% trans 'apply' %}</button>
                    </div>
                    <input id="discount_code" type="text" class="form-control" placeholder="{% trans 'discount code' %}" aria-label="" aria-describedby="basic-addon1" style="border-radius: 4px 0px 0px 4px;">
                </div>
            </div>
            <div class="col-12 order-3">
                <div>
                    <div class="checkout-summary" style="margin-bottom: 3rem;">
                        <div class="checkout-summary-main">
                            <div class="checkout-summary-content">
                                <div class="checkout-summary-price-title"> {% trans 'payable price' %} </div>
                                <div class="checkout-summary-price-value">
                                    <span class="checkout-summary-price-value-amount">{% cart_total_price_with_tax cart_id tax discount_price %}</span>&nbsp;{% get_currency %}
                                </div>
                                <div style="text-align: center;">
                                    <span>{% trans 'shipment cost' %}&nbsp;&nbsp;&nbsp;{% trans 'based on address' %}</span>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col justify-content-center" style="display: flex;">
                                        <a href="{% url 'shipp_payment' %}" class="selenium-next-step-shipping">
                                            <div class="parent-btn continue-payment">
                                                <button class="dk-btn dk-btn-info" style="padding: 18px 50px">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    {% trans "continue order" %}
                                                </button>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <span style="line-height: 30px;">
                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی
                                        را تکمیل
                                        کنید.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'theme1/js/toastr.min.js' %}"></script>
<script>
    $(document).ready(function(){
        {% if request.GET.error == '1' %}
        toastr.error('', "{% trans 'maximum available products reached' %}",{positionClass: 'toast-bottom-right'})
        {% endif %}
        {% if request.GET.error == '2' %}
        toastr.info('', "{% trans 'your cart has changed please review' %}",{positionClass: 'toast-bottom-right'})
        {% endif %}
        $(".checkout-btn-remove").on("click", function(){
            window.location = $(this).data("href");
        });
        $(".checkout-btn-minus").on("click", function(){
            window.location = $(this).data("href");
        });
        $(".checkout-btn-plus").on("click", function(){
            window.location = $(this).data("href");
        });
        $('#apply_discount_code').on("click", function(){
            if($("#discount_code").val() != ""){
                $.ajax({
                    url: "/discount-code/",
                    dataType: "json",
                    type: "Post",
                    async: true,
                    headers: {
                    'X-CSRFToken': csrftoken
                    },
                    data: {
                    "discount_code": $("#discount_code").val(),
                    },
                    success: function(data) {
                    if (data["error"]) {
                        toastr.error("",data["error"],{positionClass: 'toast-bottom-right'})
                    } else if(data["success"]){
                        location.reload();
                    }
                    },
                    error: function(xhr, exception) {
                    var msg = "";
                    if (xhr.status === 0) {
                        msg = "Not connect.\n Verify Network." + xhr.responseText;
                    } else if (xhr.status == 404) {
                        msg = "Requested page not found. [404]" + xhr.responseText;
                    } else if (xhr.status == 500) {
                        msg = "Internal Server Error [500]." + xhr.responseText;
                    } else if (exception === "parsererror") {
                        msg = "Requested JSON parse failed.";
                    } else if (exception === "timeout") {
                        msg = "Time out error." + xhr.responseText;
                    } else if (exception === "abort") {
                        msg = "Ajax request aborted.";
                    } else {
                        msg = "Error:" + xhr.status + " " + xhr.responseText;
                    }
                    console.log(msg)

                    }
                });
            }
        })
    });
</script>
{% endblock %}