{% extends 'theme1/base.html' %} {% load i18n static fa_calendar humanize %}
{% block title %}{% trans 'favorites' %}{% endblock %}
{% block extra_head %}
<link href="{% static 'theme1/style/owl.carousel.css' %}" rel="stylesheet" />
<link href="{% static 'theme1/style/owl.theme.default.min.css' %}" rel="stylesheet" />
<link href="{% static 'theme1/style/cart.css' %}" rel="stylesheet" />
<link href="{% static 'theme1/style/products.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %} 
{% if not favorites %}
<main class="cart default">
    <div class="container text-center">
        <div class="cart-empty">
            <div class="cart-empty-icon">
                <i style="font-size: 5rem; color: gray;" class="fa fa-heart"></i>
            </div>
            <div class="cart-empty-title">{% trans 'favorites is empty' %}</div>
            <div class="parent-btn">
            </div>
        </div>
    </div>
</main>
{% else %}
<div class="tab-content default text-center">
    <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
        <div class="container no-padding-right">
            <ul class="row listing-items">
                {% for favorite in favorites %}
                <li class="col-xl-3 col-lg-4 col-md-6 col-12 no-padding" style="margin: 15px 0px 15px 0px;">
                    {% if not favorite.product.count %}
                    <div class="label-check" style="margin-left: 14px;">{% trans 'not available' %}</div>
                    {% endif %}
                    <div class="product-box">
                        <a class="product-box-img" href="/product/{{favorite.product.id}}">
                            {% if favorite.product.image %}
                            <img src="{{favorite.product.image.url}}" alt="">
                            {% else %}
                            <img src="{% static 'theme1/img/default.png' %}" alt="">
                            {% endif %}
                        </a>
                        <div class="product-box-content">
                            <div class="product-box-content-row">
                                <div class="product-box-title">
                                    <a href="/product/{{favorite.product.id}}" style="font-size: 1.1rem;text-decoration:none;">
                                        {{favorite.product.title}}
                                    </a>
                                </div>
                            </div>
                            <div class="product-box-row product-box-row-price">
                                <div class="price">
                                    <div class="price-value">
                                        <div class="price-value-wrapper">
                                            {{favorite.product.price|intcomma:False|to_persian_number}} <span
                                                class="price-currency">تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}