{% extends 'theme1/base.html' %} {% load i18n static tags fa_calendar humanize shop_tools %}
{% block title %}{% trans 'compare' %} {{first_product.title}}{% endblock %}
{% block extra_head %}
<link href="{% static 'theme1/style/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'theme1/style/product.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'theme1/style/jquery.fancybox.min.css' %}" />
<link href="{% static 'theme1/style/owl.carousel.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'theme1/style/owl.theme.default.css' %}" rel="stylesheet" type="text/css">
<style>
   a :hover{
      text-decoration: none !important;
   }
   #toast-container > .toast-success {
      background-color: #198754;
   }
   #toast-container > .toast-error {
      background-color: #ff0f0f;
   }
   #toast-container > .toast-info {
      background-color: #0000ff;
   }
   a.show.active {
      background-color: #fff9e7;
   }
</style>
{% endblock %}
{% block content %} 
<div class="single-box" style="border: none; padding: 0px; margin: 0px;">
    <div class="row">
        <div class="col-md-5 mt-3 mb-3" style="text-align: center; border: solid;">
            <div class="single-img">
            <figure>
                {% if first_product.image %}
                <img id="first_main_image" src="{{first_product.image.url}}" class="w-100 s-img" data-zoom-image="{{first_product.image.url}}">
                {% else %}
                <img id="first_main_image" src="{% static 'theme1/img/default.png' %}" class="w-100 s-img" data-zoom-image="{% static 'theme1/img/default.png' %}">
                {% endif %}
            </figure>
            </div>
            <div class="single-img-slider">
            <div class="owl-carousel owl-theme ov-single">
                <div class="item">
                    {% if first_product.image %}
                    <a style="cursor: pointer;" class="first-product-image" data-src="{{first_product.image.url}}" data-fancybox="gallery"><img src="{{first_product.image.url}}" class="w-100"></a>
                    {% else %}
                    <a style="cursor: pointer;" class="first-product-image" data-src="{% static 'theme1/img/default.png' %}" data-fancybox="gallery"><img src="{% static 'theme1/img/default.png' %}" class="w-100"></a>
                    {% endif %}
                </div>
                {% for image in images %}
                <div class="item">
                    <a style="cursor: pointer;" class="first-product-image" data-src="{{image.image.url}}" data-fancybox="gallery"><img src="{{image.image.url}}" class="w-100"></a>
                </div>
                {% endfor %}
            </div>
            </div>
            <br>
            <h4><span id="first_product_price" style="color: #64758b;">{{price|intcomma:False|to_persian_number}}</span>{% if additional %}<span id="second_additional" style="text-decoration: line-through; margin-left: 15px; font-size: 1.25rem; color: gray;">{{additional|intcomma:False|to_persian_number}}</span>{% endif %}<span style="color: #64758b;">&nbsp;{% get_currency %}</span></h4>
            <br><br>
            <div style="text-align: right;">
                <span style="text-align: right; font-size: 14px;">
                    {{ first_product.description|linebreaksbr }}
                </span>
            </div>
            <br><br>
            {% for property in properties %}
            <hr>
            <div class="row text-right">
                <div class="col-4">
                    <span>{{property.title}}</span>
                </div>
                <div class="col-1">
                    <span>:</span>
                </div>
                <div class="col">
                    <span>{{property.value}}</span>
                </div>
            </div>
            {% endfor %}
            <hr>
        </div>
        <div class="col-md-2 mt-3 mb-3">
            <form action="/compare/{{first_product.id}}/" method="post">
                {% csrf_token %}
                <select id="select_product" class="form-select" aria-label="Default select example" style="font-size: 0.9rem; padding-right: 30px;" name="product_id">
                    <option selected disabled>{% trans 'compare with ...' %}</option>
                    {% for item in products %}
                    <option value="{{item.id}}">{{item.title}}</option>
                    {% endfor %}
                </select>
                <div class="row justify-content-center mt-3 mb-3">
                    <div class="col justify-content-center" style="display: flex;">
                        <a href="javascript:void(0)" class="selenium-next-step-shipping">
                            <div class="parent-btn continue-payment justify-content-center">
                                <button style="font-size: 1rem; padding: 12px 28px;" id="compare" class="dk-btn dk-btn-navy-blue" type="submit" disabled>
                                    <i class="fa fa-code-compare"></i>
                                    {% trans 'compare' %}
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        {% if second_product %}
        <div class="col-md-5 mt-3 mb-3" style="text-align: center; border: solid;">
            <div class="single-img">
            <figure>
                {% if second_product.image %}
                <img id="second_main_image" src="{{second_product.image.url}}" class="w-100 s-img" data-zoom-image="{{second_product.image.url}}">
                {% else %}
                <img id="second_main_image" src="{% static 'theme1/img/default.png' %}" class="w-100 s-img" data-zoom-image="{% static 'theme1/img/default.png' %}">
                {% endif %}
            </figure>
            </div>
            <div class="single-img-slider">
            <div class="owl-carousel owl-theme ov-single">
                <div class="item">
                    {% if second_product.image %}
                    <a style="cursor: pointer;" class="second-product-image" data-src="{{second_product.image.url}}" data-fancybox="gallery"><img src="{{second_product.image.url}}" class="w-100"></a>
                    {% else %}
                    <a style="cursor: pointer;" class="second-product-image" data-src="{% static 'theme1/img/default.png' %}" data-fancybox="gallery"><img src="{% static 'theme1/img/default.png' %}" class="w-100"></a>
                    {% endif %}
                </div>
                {% for image in second_images %}
                <div class="item">
                    <a style="cursor: pointer;" class="second-product-image" data-src="{{image.image.url}}" data-fancybox="gallery"><img src="{{image.image.url}}" class="w-100"></a>
                </div>
                {% endfor %}
            </div>
            </div>
            <br>
            <h4><span id="second_product_price" style="color: #64758b;">{{second_price|intcomma:False|to_persian_number}}</span>{% if second_additional %}<span id="second_additional" style="text-decoration: line-through; margin-left: 15px; font-size: 1.25rem; color: gray;">{{second_additional|intcomma:False|to_persian_number}}</span>{% endif %}<span style="color: #64758b;">&nbsp;{% get_currency %}</span></h4>
            <br><br>
            <div style="text-align: right;">
                <span style="text-align: right; font-size: 14px;">
                    {{ second_product.description|linebreaksbr }}
                </span>
            </div>
            <br><br>
            {% for property in second_properties %}
            <hr>
            <div class="row text-right">
                <div class="col-4">
                    <span>{{property.title}}</span>
                </div>
                <div class="col-1">
                    <span>:</span>
                </div>
                <div class="col">
                    <span>{{property.value}}</span>
                </div>
            </div>
            {% endfor %}
            <hr>
        </div>
        {% else %}
        <div class="col-md-5 mt-3 mb-3"></div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'theme1/js/toastr.min.js' %}"></script>
<script src="{% static 'theme1/js/jquery-3.3.1.js' %}" type="text/javascript"></script>
<script src="{% static 'theme1/js/jquery.simple.timer.js' %}" type="text/javascript"></script>
<script src="{% static 'theme1/js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'theme1/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'theme1/js/js.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function() {
    if($('#select_product').val()){
        $("#compare").prop('disabled', false)
    }
    $(document).on('change','#select_product',function(){
        $("#compare").prop('disabled', false)
    })
    $('.first-product-image').click(function(){
        var selected = $(this).data('src')
        if (selected != $('#first_main_image').attr('src')){
            $('#first_main_image').fadeOut('fast', function () {
               $('#first_main_image').attr('src', selected);
               $('#first_main_image').fadeIn('fast');
            });
        }
    })

    $('.second-product-image').click(function(){
        var selected = $(this).data('src')
        if (selected != $('#second_main_image').attr('src')){
            $('#second_main_image').fadeOut('fast', function () {
               $('#second_main_image').attr('src', selected);
               $('#second_main_image').fadeIn('fast');
            });
        }
    })
    
})
</script>
{% endblock %}